<footer class="footer">

  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: Luke
  </div>
  <!-- Copyright -->
<br>
<!-- Add font awesome icons -->
<div>
  <a href="https://github.com/lukyuxuan0928" class="fa fa-github"></a>
  <a href="https://linkedin.com/in/lukyuxuan0928/" class="fa fa-linkedin"></a>
</div>

</footer>
